PORT=3001
MONGODB_URI= "mongodb+srv://ekta:<ekta>@cluster0.m8txr.mongodb.net/?appName=Cluster0"
JWT_SECRET=your_jwt_access_secret_key
JWT_EXPIRATION=15m
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
JWT_REFRESH_EXPIRATION=7d
